.background {
  position: fixed;
  inset: 0;            
  z-index: 0;
  width: 100vh;
  height: 100vh;
}

.UI {
  position: fixed;
  top: 1rem;             
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

@property --screen-text-color { syntax: '<color>'; inherits: true; initial-value: var(--text-h); }

#screen-text {
  font-family: var(--mono);
  font-size: medium;
  border-radius: 4px;
  color: var(--screen-text-color);
  transition: color 2s ease;
  z-index: 10;
}