.cloud {
    position: absolute;
    left: 0;
    animation-name: drift;
    animation-duration: var(--drift-duration);
    animation-timing-function: linear;
    animation-delay: var(--drift-delay);
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    transition: opacity 2s ease, width 2s ease;
}

.cloud-image {
    transition: opacity 2s ease, width 2s ease;
}
@keyframes drift {
    from { transform: translateX(-80vw);}
    to   { transform: translateX(100vw);}

}

.clouds {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    inset:0;
    overflow: hidden;
    position: fixed;
}
